<div class="conteudo">
	<div class="base-geral">
		<h1 class="titulo"><span>Cadastro de cliente </span></h1>
		<div class="base-home">
			<div class="base-form">
				<h2>preencha os campos do cadastro abaixo</h2>
				<form action="" method="post">
					<div class="caixa100">
						<div class="marcacao">
							<h3>Dados pessoais</h3>
							<div class="separa">
								<span>Nome</span>
								<input type="text" name="txt_cliente" value="" placeholder="Digite o nome do cliente">
							</div>
							<div class="separa">
								<span>Email</span>
								<input type="text" name="txt_email" value="" placeholder="Digite o seu email">
							</div>
							<div class="separa">
								<span>Endereço</span>
								<input type="text" name="txt_endereco" value="" placeholder="Digite seu endereço">
							</div>
							<div class="separa">
								<span>Bairro</span>
								<input type="text" name="txt_bairro" value="" placeholder="Digite seu endereço">
							</div>
							<div class="separa">
								<span>cidade</span>
								<input type="text" name="txt_cidade" value="" placeholder="Digite seu endereço">
							</div>
							<div class="separa">
								<span>CEP</span>
								<input type="text" name="txt_cep" value="" placeholder="Digite seu cep">
							</div>
							<div class="separa">
								<span>UF</span>
								<input type="text" name="txt_uf" value="" placeholder="Digite seu estado">
							</div>
							<div class="separa">
								<span>Celular</span>
								<input type="text" name="txt_celular" value="" placeholder="Digite seu celular">
							</div>

						</div>
						<input type="hidden" name="id_cliente" value="" />
						<div class="basse-botoes">
							<button class="btn cancelar">cancelar</button>
							<button class="btn finalizar">Concluir cadastro</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>