@{
    ViewData["Title"] = "Home Page";
}

<div class="conteudo">
    <div class="caixa-home">
        <div class="base-relatorio-home">
            <div class="r-disponiveis">
                <h3>RELATÓRIOS DO ESTOQUE ATUALIZADO EM @DateTime.Now</h3>
                <section>
                    <article>
                        <h2>PRODUTOS CADASTRADOS</h2>
                        <span>0</span>
                        <small>TOTAL DE PRODUTOS CADASTRADOS</small>
                    </article>
                    <article>
                        <h2>VALOR ATUAL DO ESTOQUE</h2>
                        <span>0</span>
                        <small>VALOR DE TODOS OS PRODUTOS</small>
                    </article>
                    <article>
                        <h2>PREÇO MÉDIO</h2>
                        <span>0</span>
                        <small>TOTAL DE PRODUTOS CADASTRADOS</small>
                    </article>
                    <article>
                        <h2>VERSÃO DA PLANILHA</h2>
                        <span>1.0</span>
                        <small>VER MELHORIAS</small>
                    </article>

                </section>
            </div>

            <div class="r-disponiveis">
                <h3>ATENÇÃO PROBLEMAS DETECTADOS</h3>
                <section>
                    <article>
                        <h2>INTENS COM ESTOQUE ALTO</h2>
                        <span>0</span>
                        <small>TPRODUTOS EM EXESSO</small>
                    </article>
                    <article>
                        <h2>PRODUTOS SEM SAÍDA</h2>
                        <span>0</span>
                        <small>MOVIMENTAÇÃO ESTA RUIM</small>
                    </article>
                    <article>
                        <h2>PRODUTO COM ESTOQUE BAIXO</h2>
                        <span>0</span>
                        <small>MARCADOS COMO - COMPRAR AGORA</small>
                    </article>
                    <article>
                        <h2>itens fora da validade</h2>
                        <span>0</span>
                        <small>Produtos fora da validade</small>
                    </article>
                </section>
            </div>
        </div>

        <div class="conteudo">
            <div class="caixa-home">
                <div class="base-relatorio-home">
                    <div class="r-disponiveis">
                        <h3>RELATÓRIOS DO CADASTROS</h3>
                        <section>
                            <article>
                                <h2>CLIENTES CADASTRADOS</h2>
                                <span>0</span>
                                <small>TOTAL DE CLIENTE CADASTRADOS</small>
                            </article>
                            <article>
                                <h2>FORNECEDOR CADASTRADOS</h2>
                                <span>0</span>
                                <small>TOTAL DE FORNECEDOR CADASTRADOS</small>
                            </article>
                            <article>
                                <h2>FUNCIONARIO CADASTRADOS</h2>
                                <span>0</span>
                                <small>TOTAL DE FUNCIONARIO CADASTRADOS</small>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

