<div class="conteudo">
	<div class="base-geral">
		<h1 class="titulo"><span>Cadastro de produto </span></h1>
		<div class="base-home">
			<div class="base-form">
				<h2>preencha os campos do cadastro abaixo</h2>
				<form action="" method="post">
					<div class="caixa100">
						<div class="marcacao">
							<div class="separa">
								<span>Produto</span>
								<input type="text" name="txt_produto" value="" placeholder="Digite o nome do produto">
							</div>
							<div class="separa">
								<span>Estoque Inicial</span>
								<input type="text" name="txt_estoque_inicial" value="" placeholder="Digite o estoque inicial">
							</div>
							<div class="separa">
								<span>Estoque_minimo</span>
								<input type="text" name="txt_estoque_minimo" value="" placeholder="Digite o estoque minimo">
							</div>
							<div class="separa">
								<span>Estoque_atual</span>
								<input type="text" name="txt_estoque_atual" readonly="true" value="">
							</div>
							<div class="separa">
								<span>Preço</span>
								<input type="text" name="txt_preco" value="" placeholder="Digite o preço">
							</div>
							<div class="separa">
								<span>Ativo</span>
								<input type="text" name="txt_ativo_produto" value="" placeholder="Ativo">
							</div>


						</div>
						<input type="hidden" name="id_produto" value="">
						<div class="basse-botoes">
							<button class="btn cancelar">cancelar</button>
							<button class="btn finalizar">Concluir cadastro</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>